$colors: (
  "text": #ababab,
  "background": #2b2d38,
  "orange": #ff7e29,
  "rose": #db2a6b,
  "lightwhite": #e1e1e1,
  "skyblue": #60d3d9,
  "purple": #6e1fed,
  "yellow": #f4b840,
  "bgwhite15": rgba(255, 255, 255, 0.15),
);

$font-sizes: (
  "logo": 2.25rem,
  "text": 1.125rem,
  "maintitle": 5rem,
  "mainsubtitle": 1.5rem,
);

$font-weights: (
  "regular": 400,
  "semibold": 600,
  "bold": 700,
);
