@use "../abstracts" as *;
@use "sass:color";

.button {
  background-color: var(--clr-rose);
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 3.125rem;
  text-decoration: none;

  &:hover {
    background-color: color.scale($color: #db2a6b, $lightness: 10%);
  }
}

.link {
  color: var(--clr-text);
  &:hover {
    color: white;
  }
}
.link.active {
  color: white;

  &::after {
    content: "";
    display: block;
    margin-top: 8px;
    width: 2rem;
    height: 0.25rem;
    background-color: var(--clr-rose);
  }
}
