@use "../abstracts" as *;
@use "sass:color";

.button {
  background-color: var(--clr-rose);
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 16px 16px 16px 0;
  text-decoration: none;
  width: 100%;
  max-width: 15rem;
  height: 3.75rem;
  text-align: center;
  white-space: nowrap;

  &:hover {
    background-color: color.scale($color: #db2a6b, $lightness: 10%);
  }

  @media (max-width: 475px) {
    max-width: 12rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }

  @media (max-width: 400px) {
    max-width: 9rem;
  }
}

.button-secondary {
  background-color: transparent;
  color: white;
  border-radius: 3.125rem;
  font-weight: var(--fw-semibold);
  display: flex;
  align-items: center;
  gap: 0.375rem;
  white-space: nowrap;
}

.link {
  color: var(--clr-text);
  &:hover {
    color: white;
  }
}
.link.active {
  color: white;

  &::after {
    content: "";
    display: block;
    margin-top: 8px;
    width: 2rem;
    height: 0.25rem;
    background-color: var(--clr-rose);
  }
}
