body {
  font-family: var(--ff-primary);

  background-color: var(--clr-background);
  color: var(--clr-text);
  font-weight: var(--fw-regular);
  font-size: var(--fs-text);
  overflow: hidden;
}

h1,
h2,
h3 {
  line-height: 1.1;
}
