.hero {
  max-width: 49rem;
}

.hero__title {
  font-size: var(--fs-maintitle);
  font-weight: var(--fw-maintitle);
  color: white;
  margin-bottom: 1.5rem;
}
.hero__subtitle {
  font-size: var(--fs-mainsubtitle);
  font-weight: var(--fw-mainsubtitle);
  margin-bottom: 2rem;
}

.hero__buttons {
  display: flex;
  gap: 2rem;
  margin-bottom: 9rem;
}

.hero__card-list {
  display: flex;
  gap: 48px;
}
.hero__card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  &:nth-child(1) {
    .hero__card-title {
      max-width: 110px;
    }
  }

  &:nth-child(2) {
    .hero__card-title {
      max-width: 60px;
    }
  }

  &:nth-child(3) {
    .hero__card-title {
      max-width: 110px;
    }
  }
}

.hero__card-title {
  font-size: var(--fs--text);
  font-weight: var(--fw-semibold);
  color: white;
}

.hero__card-icon-container {
  background-color: var(--clr-bgwhite15);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 16px;
}
.hero__card-icon {
  max-width: 100%;
}
