.wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;

  @media (max-width: 810px) {
    overflow-y: visible;
  }

  &::before {
    content: "";
    background-image: url("/ellipses.svg");
    position: absolute;
    top: 263px;
    right: -151px;
    width: 1102px;
    height: 1043px;
    z-index: -1;

    @media (max-width: 1700px) {
      right: -136px;
    }
    @media (max-width: 1600px) {
      right: -340px;
    }
    @media (max-width: 1330px) {
      right: -520px;
    }
  }

  &::after {
    content: "";
    background-image: url("/faces.png");
    background-repeat: no-repeat;

    position: absolute;
    top: 120px;
    right: 80px;
    width: 784px;
    height: 781px;
    z-index: -1;

    @media (max-width: 1700px) {
      right: 16px;
    }
    @media (max-width: 1600px) {
      right: -240px;
    }
    @media (max-width: 1330px) {
      right: -520px;
    }
    @media (max-width: 1030px) {
      right: -520px;
      opacity: 0.25;
    }
  }
}

.main {
  padding-inline: 2rem;
  @media (max-width: 500px) {
    padding-inline: 1rem;
  }
}

.hero {
  max-width: 49rem;
}

.hero__title {
  font-size: var(--fs-maintitle);
  font-weight: var(--fw-maintitle);
  color: white;
  margin-bottom: 1.5rem;

  @media (max-width: 810px) {
    font-size: 72px;
  }

  @media (max-width: 500px) {
    font-size: 64px;
  }
  @media (max-width: 425px) {
    font-size: 56px;
  }
}
.hero__subtitle {
  font-size: var(--fs-mainsubtitle);
  font-weight: var(--fw-mainsubtitle);
  margin-bottom: 2rem;

  @media (max-width: 810px) {
    font-size: 22px;
  }

  @media (max-width: 500px) {
    font-size: 18px;
  }
  @media (max-width: 425px) {
    font-size: 16px;
  }
}

.hero__buttons {
  display: flex;
  gap: 2rem;
  margin-bottom: 9rem;
}

.hero__card-list {
  display: flex;
  gap: 48px;

  @media (max-width: 700px) {
    flex-wrap: wrap;
  }
}
.hero__card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  &:nth-child(1) {
    .hero__card-title {
      max-width: 110px;
    }
  }

  &:nth-child(2) {
    .hero__card-title {
      max-width: 60px;
    }
  }

  &:nth-child(3) {
    .hero__card-title {
      max-width: 110px;
    }
  }
}

.hero__card-title {
  font-size: var(--fs--text);
  font-weight: var(--fw-semibold);
  color: white;
}

.hero__card-icon-container {
  background-color: var(--clr-bgwhite15);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 16px;
}
.hero__card-icon {
  max-width: 100%;
}

.container__bg-images {
  height: 100%;
  width: 781px;
  background-image: url("/images.png");
  background-repeat: no-repeat;
}
