.header {
  margin-bottom: 6rem;
}

.logo {
  color: var(--clr-rose);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 46px;
  padding-inline: 2rem;
}
.nav__list {
  display: flex;
  gap: 48px;
}
.nav__link {
  text-decoration: none;
  color: var(--clr-text);
  font-weight: var(--fw-regular);
}
